obj/*
data
Figures/*
GeometricalOptics/Figures/*
Movie/*
MatPropData
doc/*.db
doc/html/*
doc/latex*
lengthSweep/*
lengthSweep*/*
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake
src/CMakeFiles/*
src/Makefile
src/cmake_install.cmake
src/libsrc.a
